# Python
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Environment
.env

# Database
*.db
*.sqlite3

# Generated Reports
generated_reports/

# Logs
logs/

# Node
node_modules/

# React
dist/
build/

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db