# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Environment Variables
.env

# Logs
logs/
*.log

# Database
*.db

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Reports
reports/*.pdf
reports/*.html