.threat-card{

    background:var(--surface);

    border:1px solid var(--border);

    border-radius:18px;

    padding:28px;

    height:fit-content;

}

.threat-header{

    margin-bottom:20px;

}

.chart-wrapper{

    width:100%;

    max-width:260px;

    margin:20px auto 0;

    transition:.3s;

}

.chart-wrapper:hover{

    transform:scale(1.02);

}.threat-card{

    background:var(--surface);

    border:1px solid var(--border);

    border-radius:18px;

    padding:28px;

    height:fit-content;

}

.threat-header{

    margin-bottom:20px;

}

.chart-wrapper{

    width:100%;

    max-width:260px;

    margin:20px auto 0;

    transition:.3s;

}

.chart-wrapper:hover{

    transform:scale(1.02);

}