.layout {
    display: grid;

    grid-template-columns: 220px 1fr;

    min-height: 100vh;

    background: var(--background);
}

.content {
    padding: 40px 48px;

    overflow-y: auto;

    width: 100%;
}